@import '../../../Sass/Base/variables';

.product {
    a {
        text-decoration: none;
    }

    &__image img {
        height: 280px;
        width: 100%;
    }

    &__card {
        margin-bottom: $margin-lv-4;
    }

    &__title {
        color: $product-text;
        font-size: 14px;
        font-weight: 600;
        height: 15px;
        overflow: hidden;
        margin-top: $margin-lv-2;

        &:hover {
            text-decoration: none;
            color: $product-text;
        }
    }

    &__price {
        color: $product-text;
        font-size: 14px;
        margin-bottom: $margin-lv-2;
    }

}

@include responsive(medium) {

    .product__image img {
        height: 230px;
    }
}