@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Source+Serif+Pro&display=swap");
h1, h2, h3 {
  font-family: "Source Serif Pro", serif;
}

.button-primary {
  background-color: #E26A2C;
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  border-color: transparent;
  padding: 5px 30px;
}
.button-primary:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.button-secondary {
  background-color: #FFFFFF;
  font-size: 14px;
  color: #E26A2C;
  text-transform: uppercase;
  padding: 5px 30px;
  border: 2px solid #E26A2C;
}
.button-secondary:hover {
  color: #E26A2C;
  text-decoration: none;
}

.navbar {
  background-color: #E26A2C;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  width: 100%;
}
.navbar__logo {
  font-size: 24px;
  color: #172026;
  color: #FFFFFF;
  outline: none;
  text-decoration: none;
}
.navbar__logo:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.navbar__logo img {
  width: 75px;
}
.navbar__icons {
  font-size: 20px;
  width: 30%;
}
.navbar__icons ul {
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
}
.navbar__icons ul li {
  list-style-type: none;
}

.userlogin {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding: 10px;
  font-size: 18px;
  width: 96%;
}
.userlogin a {
  color: #172026;
  font-size: 16px;
}
.userlogin .signin {
  text-decoration: underline;
  color: #181C24;
}

.itemnumber {
  position: relative;
}

.header__icons ul .itemnumbers .cart__count {
  padding-left: 5px;
  padding-top: 1px;
  position: absolute;
  top: -5px;
  right: -11px;
  background: #FDA65D;
  color: #fff;
  width: 17px;
  height: 17px;
  border-radius: 50px;
  font-size: 12px;
}

.menubar {
  width: 30% !important;
}

.menu-bars {
  font-size: 2rem;
  background: none;
  color: #FFFFFF;
}

.nav-menu {
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 999;
}

.nav-text {
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 8px;
  list-style: none;
  border-bottom: 1px solid #c9c5c5;
}

.nav-text a {
  text-decoration: none;
  color: #1B252C;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.nav-menu-items {
  width: 100%;
  padding: 0 10px;
}

.navbar-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #FAFAFA;
  align-items: center;
  border-bottom: 1px solid #c9c5c5;
  padding-right: 0px;
  margin-right: 0;
}
.navbar-toggle span {
  font-size: 16px;
}

.navbar__icons-search {
  font-size: 20px !important;
}

.navbar__icons .itemnumbers a {
  font-size: 20px !important;
}

@media only screen and (min-width: 1440px) and (max-width: 1600px) {
  .navbar {
    display: none !important;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 2000px) {
  .navbar {
    display: none !important;
  }
}/*# sourceMappingURL=Hamburger.css.map */