@import '../../Sass/Base/variables';

.carousel .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.carousel .carousel-item:first-of-type {
    background-image: url("https://ichef.bbci.co.uk/images/ic/960x960/p08634k6.jpg");
}

.carousel .carousel-item:nth-of-type(2) {
    background-image: url("http://s9.favim.com/orig/130806/flower-flowers-photography-pink-Favim.com-833641.jpg");
}

.carousel .carousel-item:last-of-type {
    background-image: url("https://4.bp.blogspot.com/-pxMLcrD3N7I/UjAMNkqM43I/AAAAAAAAABQ/2-etadUS_48/s640/flowers.jpg");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

.home {
    margin-top: $margin-lv-2;

    &__categories {
        margin-bottom: $margin-lv-5 * 2;
        margin-top: -$margin-lv-5;
        position: relative;

        .aem-Grid.aem-Grid--12 {
            background-color: $teritary-color;
        }

        p {
            font-size: 14px;
        }

        img {
            width: 100%;
            height: 250px;
        }

        &-type {
            position: relative;
            margin: 0 $margin-lv-1;

            .categoryname {
                position: absolute;
                bottom: 0;
                background-color: #1B252CD9;
                color: $teritary-color;
                width: 100%;
                padding: $padding-lv-2 $padding-lv-4;
                border-bottom: 5px solid $primary-color;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .product__signature {
        background-color: $teritary-color;
        margin-bottom: $margin-lv-5 * 2;

        .aem-Grid.aem-Grid--12 {
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important;
            display: -webkit-box !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }

        h2 {
            color: $product-text;
            font-weight: 600;
            font-size: 32px;
        }

        h5 {
            color: $product-text;
            font-weight: 600;
            font-size: 16px;
            margin: 15px 0;
        }

        p {
            font-size: 14px;
            margin-bottom: $margin-lv-3;
        }

        img {
            width: 100%;
        }

        &-left {
            padding-left: $padding-lv-3 * 5 + 10;

            .primary {
                padding: $padding-lv-1 $padding-lv-5 * 2 + 6;
                margin-left: $margin-lv-4;
            }
        }
    }
}

.product__signature-buttons {
    position: relative;
    padding-bottom: $padding-lv-6 * 2;

    &::after {
        content: "";
        background-color: #E26A2C;
        width: 20%;
        position: absolute;
        height: 8px;
        bottom: 15%;
        left: 0;
    }
}

.conquer {
    background-color: $secondary-color;
    margin-bottom: $margin-lv-5 * 2;
    position: relative;

    .aem-Grid.aem-Grid--12 {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    h3 {
        color: $teritary-color;
        font-weight: 600;
        font-size: 32px;
        padding: 0 $padding-lv-6 * 2;
        margin-bottom: $margin-lv-2;
    }

    p {
        font-size: 14px;
        color: $teritary-color;
        padding: 0 $padding-lv-6 * 2;
        margin-bottom: $margin-lv-4;
    }

    &__image {
        background-color: $teritary-color;

        img {
            width: 100%;
            margin: 10px 0;
        }
    }

    .shop-btn {
        padding: $padding-lv-1 $padding-lv-6;
        border: 2px solid $teritary-color;
        background-color: transparent;
        border-radius: 10px;
        color: $teritary-color;
        font-size: 14px;
        margin: 0 $margin-lv-6 * 2;
    }

    &__navigate {
        position: absolute;
        border-bottom: 5px solid $primary-color;
        bottom: 10%;
        right: 31%;
        width: 50px;
        text-align: center;
        color: $teritary-color;

        &-icon {
            font-size: 35px;
        }
    }
}

.signature__mobile {
    display: none;
}

.conqueradventure__mobile {
    display: none;
}

.slider__mobile {
    display: none;
}

@include responsive(tablet) {

    .home {
        margin-top: 0px;
    }

    .slider__desktop {
        display: none;
    }

    .slider__mobile {
        display: block;
        position: relative;
    }

    .signature__desktop {
        display: none;
    }

    .signature__mobile {
        display: block;
    }

    .product__signature-left {
        padding-left: 0px !important;
        padding-top: $padding-lv-5;

        h2,
        h5,
        p {
            text-align: center;
        }

        .button-secondary {
            display: block;
            margin: auto;
        }

        .primary {
            margin-left: 0px !important;
            margin-top: $margin-lv-4  !important;
        }
    }

    .product__signature-buttons {
        text-align: center;

        &::after {
            left: 40%;
        }
    }

    .conqueradventure__desktop {
        display: none;
    }

    .conqueradventure .container {
        padding: 0;
    }

    .conqueradventure__mobile {
        display: block;

        .conquer__image {
            position: relative;
        }

        .conquer__navigate1 {
            position: absolute;
            left: 10%;
            border-bottom: 4px solid $primary-color;
            padding: 0 $padding-lv-1 $padding-lv-2 $padding-lv-1;
            bottom: 0%;
            z-index: 1;
            color: $teritary-color;
        }
    }

    .conquer {
        background-color: transparent;

        &__title {
            width: 90%;
            padding: $padding-lv-5 * 2 $padding-lv-5;
            background-color: #1B252C;
            margin: auto;
            margin-top: -$margin-lv-5  !important;
            position: relative;

            h3,
            p {
                padding: 0;
                text-align: center;
            }

            .shop-btn {
                display: block;
                margin: auto;
            }
        }


    }

    .conquer__navigate {
        top: -9%;
        border-bottom: 0px;

        &::after {
            content: "";
            background-color: #E26A2C;
            width: 50%;
            position: absolute;
            height: 4px;
            bottom: 0%;
            left: 0;
            border-bottom: 0px !important;
        }

    }


}

@include responsive(phone) {

    .home {
        margin-top: 0px;
    }

    .slider__desktop {
        display: none;
    }

    .slider__mobile {
        display: block;
        position: relative;
    }

    .signature__desktop {
        display: none;
    }

    .signature__mobile {
        display: block;
    }

    .product__signature-left {
        padding-left: 0px !important;
        padding-top: $padding-lv-5;

        h2,
        h5,
        p {
            text-align: center;
        }

        .button-secondary {
            display: block;
            margin: auto;
        }

        .primary {
            margin-left: 0px !important;
            margin-top: $margin-lv-4  !important;
        }
    }

    .product__signature-buttons {
        text-align: center;

        &::after {
            left: 40%;
        }
    }

    .conqueradventure__desktop {
        display: none;
    }

    .conqueradventure .container {
        padding: 0;
    }

    .conqueradventure__mobile {
        display: block;

        .conquer__image {
            position: relative;
        }

        .conquer__navigate1 {
            position: absolute;
            left: 10%;
            border-bottom: 4px solid $primary-color;
            padding: 0 $padding-lv-1 $padding-lv-2 $padding-lv-1;
            bottom: 0%;
            z-index: 1;
            color: $teritary-color;
        }
    }

    .conquer {
        background-color: transparent;

        &__title {
            width: 90%;
            padding: $padding-lv-5 * 2 $padding-lv-5;
            background-color: #1B252C;
            margin: auto;
            margin-top: -$margin-lv-5  !important;
            position: relative;

            h3,
            p {
                padding: 0;
                text-align: center;
            }

            .shop-btn {
                display: block;
                margin: auto;
            }
        }


    }

    .conquer__navigate {
        top: -9%;
        border-bottom: 0px;

        &::after {
            content: "";
            background-color: #E26A2C;
            width: 50%;
            position: absolute;
            height: 4px;
            bottom: 0%;
            left: 0;
            border-bottom: 0px !important;
        }

    }


}