@import '../../Sass/Base/variables';


.MuiAccordion-root{
    position: inherit !important;
    box-shadow: none !important;
    border: 1px solid #D1D3D6;
    color: $product-text !important;
    font-family: 'Muli' !important;
}
.MuiTypography-body{
    font-family: 'Muli' !important;
}
.makeStyles-heading-2{
    font-size: 18px !important;
    vertical-align: middle;
}
.makeStyles-secondaryHeading-3{
    font-size: 14px !important;
    color: $product-text !important;
    margin-top: $margin-lv-1 !important;
}
.MuiAccordionSummary-content{
    justify-content: space-between;
}